:root{
  --principale:#0b135a;
  --secondaire:#f2f3f5;
}
::-webkit-scrollbar { width: 0 !important }
.element { overflow: -moz-scrollbars-none; }
.element { -ms-overflow-style: none; }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color:black;
}
.black{
  color:black!important;
}
body{
  max-width:1500px;
  margin:auto;
  background-color:#0b135a;
}
.fas{
  cursor:pointer;
}
header{
  position:fixed;
  background-color:var(--principale);
  height:64px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:11px;
  color:white;
  border-bottom: 2px solid var(--principale);
  z-index:10;
  max-width:1400px;
  width:100%;
}
.headerfond{
  position:fixed;
  background-color:var(--principale);
  height:64px;
  width:100vw;
  left:0;

}
.headergauche, .headercentre, .headerdroite{
  height:100%;
  width:30%;
  display:none;
}
.headercentre{
  display:none;
  font-size: 1.7rem;
  justify-content: space-around;
  align-items: center;
}
.headercentre a i,.headerdroite a i{
  color:white;
}
.headerdroite{
  justify-content: flex-end;
  align-items: center;
  font-size: 1.7rem;
}
.headerdroite p{
  font-size:1rem;
  color:white;
}
.logo{
  height:100%;
  margin-right:15px;
}
.logo > a{
  height:100%;
  width:100%;
}
.logo > a img{
  height:100%;
}

header > div:nth-child(2){
  width:60%;
}
@media screen and (max-width:850px){
  header > div:nth-child(2){
    width:80%;
  }
}
header input{
  background-color:white;
  width:20%;
  border-radius: 0px;
  padding:5px;
  border:0px;
}
header form p{
  font-size:0.6rem;
}
header .recherche {
  width:40%;
  height:90%;
  padding-right:15px;
}
header .recherche form{
  height:100%;
  position:relative;
  width:15vw;
}
header .recherche form input[type="text"]{
  width:100%;
  height:100%;
  border-radius: 50px 0px 0px 50px;
  background-color:#F2F3F5;
}
header .recherche form input[type="submit"]{
  height:100%;
  border-radius: 0px 50px 50px 0px;
  background-color:#F2F3F5;
  background-image: url('../img/loupe.png');
  background-repeat:no-repeat;
  background-size:65%;
  background-position:center;
}
header .recherche form input[type="submit"]:hover{
  background-color:#D5DBE1;
  cursor:pointer;
}
.imageprofil{
  height:100%;
  padding-left:15px;
  padding-right:15px;
}
.imageprofil p{
  padding-right:10px;
}
.imageprofil > a{
  display:flex;
  align-items: center;
  text-decoration: none;
  height:100%;
  width:100%;
}
.imageprofil > a img{
  height:40px;
  width:40px;
  border-radius:150px;
}
.headercentre a{
  color:white;
  text-decoration: none;
}
.headercentre .fa-resp{
  display:none;
}
.parametres{
  margin-right:7px;
  margin-left:7px;
  padding-right:7px;
  padding-left:7px;
  border-left:1px solid lightblue;
  border-right:1px solid lightblue;
}




/* Page accueil */
.contenuaccueil{
  position: fixed;
  height:100vh;
  width:100%;
  background-color:var(--secondaire);
  display:flex;
  text-align:center;
  color:white;
  overflow: hidden;
  width:100vw;
  left:0;
}
.accueilgauche{
  width:50%;
  height:100vh;
  background-color:var(--principale);
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}
.accueilgauche h1, .accueildroite h1{
  color:white;
  padding-bottom:15px;
}
.accueilgauche form{
  width:80%;
  text-align: center;
  margin:auto;
  background-color:white;
  border-radius:25px;
  padding:25px
}
.accueilgauche form input{
  background-color:var(--secondaire);
  border-radius: 15px;
  border: 1px solid rgb(169, 169, 169);
  padding:15px;
  margin-top:5px;
  margin-bottom:5px;
  width:100%;
}
.accueilgauche .formulaireinscription p{
  padding-top:10px;
  color:red;
}
.accueildroite{
  width:50%;
  height:100vh;
  background-color:var(--principale);
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}
.accueildroite form{
  width:80%;
  text-align: center;
  margin:auto;
  background-color:white;
  border-radius:25px;
  padding:25px
}
.accueildroite form input{
  background-color:var(--secondaire);
  border-radius: 15px;
  border: 1px solid rgb(169, 169, 169);
  padding:15px;
  margin-top:5px;
  margin-bottom:5px;
  width:100%;
}
.accueildroite form input[type="checkbox"]{
  width:auto;
  margin:0;
  margin-left:5px;
}
.masque{
  position:absolute;
  width:100%;
  height:100%;
  right:-50%;;
  background-color:white;
  transition : all 700ms;
}
#login:target{
  transform: translateX(-100%);
}
.boutonlogin{
  position:absolute;
  top:50%;
  left:25%;
  transform: translateX(-50%);
  padding:20px;
  
}
.boutonloginresp{
  display:none;
}
.boutonlogin > a, .boutoninscription >a{
  text-decoration: none;
  color:white;
  padding:20px;
  background-color:var(--principale);
  border-radius:5px;
}
.boutoninscription{
  position:absolute;
  top:50%;
  right:25%;
  transform: translateX(50%);
  
  padding:20px;
  border-radius:5px;
}
#input_prenom{
  float:left;
  width:49%;
}
#input_nom{
  width:49%;
  float:right;
}
.accueilgauche form input[type='submit']{
  border:1px solid var(--principale);
  background-color:var(--principale);
  border-radius:5px;
  color:white;
}
.accueildroite form input[type='submit']{
  border:1px solid var(--principale);
  background-color:var(--principale);
  border-radius:5px;
  color:white;
}
.titreaccueil{
  padding-top:50px;
}
#listerecues, #listeenvoyees{
  height:0px;
  overflow:hidden;
  transition: height 300ms ease-in-out;
}
#mesamis{
  overflow:hidden;
  max-height: 100%;
  overflow: auto;
}
.listeamis > h2{
  padding-top:15px;
  cursor:pointer;
}
.ami > a > i, .ami > a >p{
  color:white;
}


/* Page profil */
.contenuprofil{
  height:auto;
  min-height:100vh;
  padding-top:70px;
  text-align:center;
  background-color:var(--secondaire);
  color:white;
}
.contenuprofil h2{
  padding-bottom:25px;
}
.formprofil{
  border-left:2px solid var(--principale);
  width:50%;
}
.formprofil input{
  background-color:white;
}
.photoprofil{
  text-align:center;
  padding:10px;
  width:50%;
}
.infosprofil .photoprofil form input[type="submit"]{
  width:90%;
  float:none;
  margin-top:15px;
}

.avatar{
  width:150px;
  height:150px;
  border-radius:150px;
}
.infosprofil{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
  width:100%;
  margin:auto;
  background-color:white;
  border-radius: 20px;
  padding-top:30px;

}
.infosprofil form{
  padding:20px;
}
.infosprofil form input{
  padding:10px;
  margin-bottom:15px;
  width:91%;
}
.infosprofil form input[type="file"]{
  width:0px;
  height:0px;
  padding:0;
}
.infosprofil form input[name="nom"], .infosprofil form input[name="prenom"] {
  width:45%;
}
.infosprofil form input[type="submit"] {
  width: 100%;
  border: 1px solid var(--principale);
  background-color: var(--principale);
  border-radius:25px;
  color: white;
  cursor:pointer;
}
.photop{
  position:relative;
  width:fit-content;
  margin:auto;
  cursor:pointer;
  display:flex;
  flex-direction: column;
}
.photop:hover > label:nth-child(1){
  opacity:0.5;
}
.photop .avatar, .uploadavatar{
  cursor:pointer;
}
.uploadavatar > i{
  padding-right:5px;
  padding-top:10px;
}



/* Mur */
.contenumur{
  height:auto;
  min-height:100vh;
  padding-top:70px;
  background-color:var(--secondaire);
  color:white;
  text-align:center;
  display:flex;
  position:relative;
  justify-content: space-between;
  padding-left:20px;
}
.postmur{
  width:100%;
  margin-top:20px;
  background-color: #f2f3f5;
  border-radius:10px 10px 0px 0px;
  position:relative;
  text-align:center;
}
.postmur > p{
  text-align:center;
}
.conteneurposts{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}
.imgpost{
  width:40px;
  height:40px;
  border-radius:50px;
}
.titrepost{
  text-align:center;
  font-size:23px;
  margin:0;
}
.auteur{
  display:flex;
  padding:15px;
  justify-content: space-between;
}
.auteur div:nth-child(1){
  display:flex;
}
.infosauteurs{
  display:flex;
}
.infosbold{
  font-weight:bold;
}
.poster{
  display:flex;
  align-items: center;
  justify-content: center;
}
.auteur p{
  padding-left:10px;
  margin:0;
  align-self: baseline;
  font-size: 0.9rem;
}
.auteur a{
  display: inline-block;
  text-decoration: none;
}
.auteur > div > div{
  text-align: left;
}
.formposter{
  width:100%;
  background-color: white;
  padding: 15px;
  border-radius: 12px;
}
.formposter input{
  width:100%;
  margin-bottom:5px;
  background-color:var(--secondaire);
  border-radius:50px;
  border:1px solid rgb(169, 169, 169);
  padding:5px;
}
.formposter textarea{
  width:100%;
  resize:none;
  height:150px;
  background-color:var(--secondaire);
  border-radius:10px;
  padding:5px;
}
.formposter h3{
  padding-bottom:15px;
}
.uploadfile i{
  width:25px;
  padding-bottom:7px;
}
.cacherbtnfile{
  position: relative;
  overflow: hidden;
  height: 35px;
  width:100%;
}
.formposter .inputfile{
  position: absolute;
  top: 0;
  left: -123px;
  width: auto;
  background-color: white;
  border: 0;
  width:160%;
}
.uploadimage{
  display:flex;
  align-items: center;
}
#apercuimg{
  display:none;
  width:50%;
}
.apercuimage{
  display:flex;
  justify-content: center;
  padding-top:15px;
  padding-bottom:15px;
}
.formposter input[type="submit"]{
  width:100%;
  border:1px solid var(--principale);
  background-color:var(--principale);
  color:white;
}
.postmur input[type="submit"]{
  border:0;
  background-color: transparent;
  cursor:pointer;
  padding-top:5px;
}
.postmur > img{
  max-width:100%;
  width:50%;
  padding:10px;
}
.filactu{
  width:60%;
}

.boutonlike{
  float:left;
  padding-left:15px;
  font-size:1.5rem;
  color:var(--principale);
  padding-bottom:20px;
  cursor:pointer;
}
.boutonpaslike{
  float:left;
  padding-left:15px;
  font-size:1.5rem;
  padding-bottom:20px;
  cursor:pointer;
}
.boutonlike::before,.boutonpaslike::before{
  padding-right:5px;
}
.inputlike{
  width:0px;
  height:0px;
}

/* Espace commentaires */
.commentairespost{
  background-color: white;
  width: 100%;
  border-top: 1px solid var(--principale);
  margin-top:10px;
  color:black;
  padding:15px;
  border-left: 1px solid #f2f3f5;
  border-right: 1px solid #f2f3f5;
  border-bottom: 1px solid #f2f3f5;
  border-radius: 0px 0px 6px 6px;
}
.commentairespost form textarea{
  width:75%;
  resize:none;
  background-color:var(--secondaire);
  border-radius:10px;
  padding:7px;
}
.commentairespost > form{
  display:flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--principale);
  padding-bottom:15px;
}
.commentairespost > form label i{
  color:var(--principale);
  cursor:pointer
}
.comm{
  padding-bottom:5px;
  border-bottom:1px solid #f2f3f5;
}
.comm .auteur{
  padding-left:0;
}
.comm p{
  text-align:left;
  word-wrap: break-word;
}
.monprofilmobile{
  display:none;
}



.demandesami{
  width:20%;
  position:fixed;
  text-align: left;
}
.demandesami h2:nth-child(2){
  padding-top:30vh;
}
.demandesami .ami{
  padding-left:15px;
}
.listeamis{
  width:auto;
  text-align:left;
  min-width:25%;
}
.listeamismobile{
  padding:70px 25px 0px 25px;
  height:100vh;
  background-color:white;
  color:black;
}
.listeamismobile > #mesamis > .ami > a > p,.listeamismobile > #listerecues > .ami > a > p,.listeenvoyees > #mesamis > .ami > a > p{
  color:black;
}
.profil{
  display:flex;
  align-items: center;
  justify-content: center;
  padding:25px;
}
.imgprofil{
  width:100px;
  height:100px;
  background-size:cover;
  border-radius:20px;
}
.imgprofil img{
  width:100%;
  border-radius:20px;
  height:100%;
}
.infoprofil{
  padding-left:25px;
  line-height: 50px;
  align-self:baseline;
}
.modifierprofil a{
  display:flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.modifierprofil:hover a i{
  color:var(--principale);
}
.modifierprofil a p{
  padding-left:5px;
}
.infoprofil form input[type='submit']{
  width:100%;
  border:1px solid var(--principale);
  background-color:var(--principale);
  color:white;
  margin-left:10px;
  width:auto;
  padding:5px;
  border-radius:50px;
}

/* Mur partie liste amis */
.ami a{
  cursor: pointer;
  text-decoration: none;
  color:white;
}
.ami p, .ami .chat{
  padding-left:10px;
}
.chat:hover{
  color:#f5cb5c;
}
.ami{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top:10px;
  padding-left:15px;
  border-bottom:1px solid var(--principale);
}
.imgami{
  width:75%;
  border-radius:150px;
}
.ami a:nth-child(1){
  width:30px;
  height:30px;
}
.ami form input[type='submit']{
  width:100%;
  background-color:var(--principale);
  color:white;
  margin-left:10px;
  padding:3px;
  border-radius:50px;
}
.recuesetenv{
  display:flex;
  align-self:flex-end;
}
.recuesetenv form:nth-child(1){
  padding-right:7px;  
}
.recuesetenv > form:nth-child(1):hover > input[type='submit'],.recuesetenv > form:nth-child(2):hover > input[type='submit']{
  color:#f5cb5c;
  border:2px solid #f5cb5c;
}

/* Page amis */
.contenuamis{
  height:auto;
  min-height:100vh;
  padding-top:70px;
  background-color:var(--secondaire);
  color:white;
  text-align:center;
  display:flex;
}
.demandesamis{
  width:100%;
  padding:10px;
}
.recues{
  padding-bottom:25px;
}

/* Page 404 */
.page404{
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  background-color:var(--principale);
  line-height:1.25;
  text-align:center;
}
.page404 i{
  font-size:3rem;
  color:var(--principale);
  color:white;
}
.page404 h3, .page404 p{
  padding-bottom:15px;
  color:white;
}
.page404 img{
  height:15vw;
}

/* Footer */
footer{
  height:50px;
  background-color:#21283f;
  position:relative;
  bottom:0;
  width:100%;
  text-align:center;
  color:white;
}


/* Page recherche */
.contenurecherche{
  height:auto;
  min-height:100vh;
  padding-top:65px;
  background-color:var(--secondaire);
  color:white;
  text-align:center;
  display:flex;
  justify-content: center;
}
.resultatsrecherche .ami{
  border:2px solid var(--principale);
  width:100%;
  margin-top:25px;
  padding:15px;
  margin: 15px auto;
  justify-content: space-between;
}
.resultatsrecherche .ami > div{
  display:flex;
  align-items: center;
}
.resultatsrecherche > .ami > .modifierprofil{
  width:50%;
}
.resultatsrecherche > .ami > .modifierprofil > a{
  width:100%!important;
  justify-content:flex-end;
}
.resultatsrecherche .ami img{
  width:40px;
  height:40px;
  border-radius:50px;
}
.resultatsrecherche .ami a:nth-child(1){
  width:40px;
  height:40px;
}

/* Pages Messages Prives */
.listemessages{
  width:100%;
  height:100%;
  margin:auto;
  overflow:hidden;
  position:relative;
  background-color:white;
}
#formMP{
  width:100%;
  margin:auto;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  position:absolute;
  bottom:0px;
  background-color:white;
}
#formMP input[type="text"]{
  padding:5px;
  width:80%;
  border-radius:20px;
  border:0;
  height:100%;
  border:1px solid var(--principale);
}
#formMP input[type="button"]{
  padding:5px;
  color:white;
  width:10%;
  border-radius:10px;
  background-color: var(--principale);
  border:0;
  height:100%;
}
#formMP > i{
  color:var(--principale);
}
.conteneurmp{
  display:flex;
  flex-direction:column;
  align-items: center;
  padding:30px;
  width:103%;
  height:103%;
  margin:auto;
  max-height:80vh;
  overflow:auto;
}
.mp{
  width:fit-content;
  padding:10px;
  border-radius: 25px;
  max-width:70%;
}
.gauche{
  background-color:#f2f3f5;
  align-self:flex-start;
}
.droite{
  background-color:var(--principale);
  align-self:flex-end;
  color:white;
}
.droite > p{
  color:white;
}
.msg{
  display:flex;
  align-self:flex-start;
  align-items: center;
}
.msg img{
  width:20px;
  height:20px;
  border-radius:50px;
  margin-right:5px;
}
.msgdroite{
  display:flex;
  align-self:flex-end;
  align-items: center;
}
.msgdroite img{
  width:20px;
  height:20px;
  border-radius:50px;
  margin-left:5px;
}
.imgprives{
  width:50px;
  height:50px;
  background-size:cover;
  border-radius:50px;
}
.infosmp{
  display:flex;
  align-items: center;
}
.infosmp > h2{
  padding-left:10px;
}

/* RESPONSIVE MOBILE */
@media screen and (max-width:825px){
  /* Header */
  .headerconnecte{
    justify-content:center;
    max-width:100vw;
  }
  .headergauche, .headerdroite{
    display:none;
  }
  .headercentre{
    width:100%;
    display:flex;
    height:60px;
    position:fixed;
    z-index:100;
    background-color:var(--principale);
  }
  .headercentre .fa-resp{
    display:block;
  }

  /* Accueil */
  .accueil{
    flex-direction: column;
  }
  .accueil .gauche{
    border-right: 0px;
    width:auto;
  }
  .accueil .formulaireinscription{
    width:auto;
  }
  .accueilgauche,.accueildroite{
    width:100vw;
  }
  .contenuaccueil{
    display:block;
  }
  #login{
    right:-100%;
  }
  .boutonloginresp{
    display:block;
  }
  .boutonlogin,.boutoninscription{
    display:none;
  }
  #login:target{
    right:100%;
  }
  #login:target + .accueilgauche{
    display:none;
  }
  .masque{
    display:none;
  }



  /* Mur */
  .contenumur{
    padding-left:0px;
  }
  .demandesami, .listeamis{
    display:none;
  }
  .filactu{
    width:100%;
    margin:0;
  }
  .formposter, .postmur{
    width:95%;
  }
  .contenuamis{
    height:auto;
    min-height:100vh;
    padding-top:70px;
    background-color:var(--secondaire);
    color:white;
    text-align:center;
    display:flex;
    flex-direction:column;
  }
  .demandesamis{
    width:100%;
    padding:10px;
  }
  .recues{
    padding-bottom:25px;
  }
  .listeami{
    padding-top:30px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
  }

  /* Page profil */

 .infosprofil form input[type="file"] {
  padding: 0px;
  }
  .infosprofil .photoprofil form input[type="submit"] {
    width: 100%;
  }
  .formprofil table, .infosprofil form, .photoprofil{
    width:100%;
    padding: 10px;
    border-left:0;
  }

  /* MP */
  .listemessages{
    width:100%;
    height:90vh;
  }
  .conteneurmp{
    width:100%;
    margin:0;
  }
  #formMP{
    width:100%;
    padding-top:20px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .infoscote{
    display:none!important;
  }
  .infoscentre{
    width:100%!important;
    right:0px!important;
    position:relative!important;
    border-radius:0px!important;
    height:100%!important;
    padding-top:60px!important;
    padding:0px!important;
    padding-top:70px!important;
  }
  .monprofilmobile{
    display:flex;
    justify-content:space-around;
  }
  .infosmp{
    padding-left:15px;
    padding-bottom:10px;
  }
  .itemmenu > a > i{
    color:black!important;
  }
  .itemmenu > a > p{
    color:black!important;
  }
  .itemmenu > i{
    color:black!important;
  }
  .itemmenu > p{
    color:black!important;
  }
  .ami > a > i{
    color:black;
  }





  }



  /* Mur */
.contenu{
  background-color:#0b135a;
  width:100vw;
  height:100vh;
  position:relative;
  max-width:1500px;
  margin-left:auto;
  margin-right:auto;
  color:white;
}
.infoscentre{
  background-color:white;
  position:absolute;
  width:66%;
  height:95%;
  border-radius:50px;
  top:50%;
  transform:translateY(-50%);
  right:20px;
  text-align: center;
}
.infoscote{
  width:33%;
  height:100%;
  padding:15px;
  display:flex;
  flex-direction: column;
  position:relative;
  justify-content:space-around; 
}
.monprofil{
  height:75px;
  display:flex;
  align-items:center;
  justify-content: space-around;
}
.imageprofil{
  width:75px;;
  height:75px;
  border-radius:25px;
  background-size:cover;
  background-position: center;
}
.txtprofil{
  display:flex;
  flex-direction: column;
  justify-content:center;
  padding-left:20px;
}
.txtprofil > h1{
  color:white;
}
.txtprofilmobile > h1{
  color:black;
}
.txtprofil > div > a{
  display:flex;
}
.txtprofil > div > a >p{
  padding-left:10px;
  color:white;
}
.txtprofil > div > a >i{
  color:white;
}
.itemmenu{
  padding:12px;
  display:flex;
}
.itemmenu > a{
  display:flex;
}
.itemmenu > a > i{
  color:white;
}
.itemmenu > a > p{
  padding-left:10px;
  color:white;
}
.itemmenu > i{
  color:white;
}
.itemmenu > p{
  padding-left:10px;
  color:white;
  cursor:pointer;
}
.menu > p{
  color:#3a407a;
  padding-bottom:10px;
}
.deconnexion{
  font-size:2rem;
}
.deconnexion > a > i{
  color:white;
}
.deconnexion > a > i:hover{
  color:#f5cb5c;
}
.active >a>p,.active >a> i {
  color:#f5cb5c;
}
.active{
  border-left:3px solid #f5cb5c;
}
.infoscentre{
  overflow:auto;
  color:black;
  padding:40px;
}
.infoscentre > h1{
  text-align:center;
}
.activeprofil > a > i, .activeprofil > a > p{
  color:#f5cb5c!important;
}

/* Page recherche */
#formrecherche{
  padding-top:15px;
  padding-bottom:40px;
}
#formrecherche > input[type="text"]{
  padding:10px;
  width:70%;
}
#formrecherche > input[type="submit"]{
  padding:10px;
  width:20%;
  background-color:var(--principale);
  color:white;
}