* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
header{
  position:fixed;
  width:100%;
  background-color:#21283f;
  height:45px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:10px;
  color:white;
  border-bottom: 2px solid #00acee;
}
.headerconnecte{
  justify-content: center;
}
.logo{
  height:100%;
  margin-right:15px;
}
.logo > a{
  height:100%;
  width:100%;
}
.logo > a img{
  height:100%;
}
header form{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header input{
  background-color:white;
  width:25%;
  border-radius: 0px;
  padding:5px;
  border:0px;
}
header form p{
  font-size:0.6rem;
}
header .recherche {
  width:40%;
  height:90%;
  padding-right:15px;
}
header .recherche form{
  height:100%;
  border:1px solid black;
  position:relative;
}
header .recherche form input[type="text"]{
  width:100%;
  height:100%;
  border-radius: 0px;
  background-color:white;
}
header .recherche form input[type="submit"]{
  width:auto;
  min-width:20px;
  height:100%;
  border-radius: 0px;
  border:0px;
  padding:0;
  background-image: url('../img/loupe.png');
  background-repeat:no-repeat;
  background-size:100% 20px;
  position:absolute;
  right:0;
}
header .recherche form input[type="submit"]:hover{
  background-color:#D5DBE1;
  cursor:pointer;
}
.imageprofil{
  height:100%;
  padding-left:15px;
  padding-right:5px;
}
.imageprofil > a{
  height:100%;
  width:100%;
}
.imageprofil > a img{
  height:100%;
  border-radius:150px;
}
.deconnexion a,.parametres a,.prenomprofil a{
  color:white;
  text-decoration: none;
}
.parametres{
  margin-right:7px;
  margin-left:7px;
  padding-right:7px;
  padding-left:7px;
  border-left:1px solid lightblue;
  border-right:1px solid lightblue;
}




/* Page accueil */
.contenuaccueil{
  height:100vh;
  width:100%;
  background-color:#21283f;
  display:flex;
  flex-direction:column;
  text-align:center;
  color:white;
}
.contenuaccueil h1{
  padding-top:60px;
  padding-bottom:20px;
}
.accueil{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.accueil .gauche{
  width:50vw;
  height:60%;
  border-right:2px solid #00acee;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;
}
.accueil .formulaireinscription{
  width:50vw;
  height:60%;
  padding-top:5%;
}
.accueil .formulaireinscription p{
  padding-top:10px;
  color:red;
}
.accueil form input{
  background-color:white;
  padding:15px;
  margin-top:5px;
  margin-bottom:5px;
  border-radius:0;
  border:0;
  width:100%;
}
.accueil form{
  width:80%;
  text-align: center;
  margin:auto;
}
#input_prenom{
  float:left;
  width:49%;
}
#input_nom{
  width:49%;
  float:right;
}
.accueil form input[type='submit']{
  border:1px solid #00acee;
  background-color:transparent;
  border-radius:5px;
  color:white;
}
.titreaccueil{
  padding-top:50px;
}

.accueil .gauche img{
  width:50%;
}
.accueil .gauche img{
  width:30%;
}








/* Page profil */
.contenuprofil{
  height:auto;
  min-height:100vh;
  padding-top:50px;
  text-align:center;
  background-color:#21283f;
  color:white;
}
.formprofil input{
  background-color:white;
}
.photoprofil{
  text-align:center;
  padding:10px;
}
.infosprofil .photoprofil form input[type="submit"]{
  width:50%;
  float:none;
  margin-top:15px;
}
.avatar{
  width:150px;
  height:150px;
  border-radius:150px;
}
.infosprofil{
  display:flex;
  align-items:center;
  justify-content:center;
}
.infosprofil .avatar{
  margin:20px;
}
.infosprofil form{
  padding:20px;
}
.infosprofil form input{
  float:right;
  padding:10px;
}
.infosprofil form input[type="file"]{
  padding:10px;
  float:none;
}
.infosprofil form input[type="submit"]{
  width:100%;
  border:1px solid #00acee;
  background-color:transparent;
  color:white;
}

/* Mur */
.contenumur{
  height:auto;
  min-height:100vh;
  padding-top:45px;
  background-color:#21283f;
  color:white;
  text-align:center;
}
.postmur{
  border:2px solid #00acee;
  width:30%;
  margin-top:20px;
  padding:15px;
}
.conteneurposts{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}
.imgpost{
  width:8%;
  border-radius:50px;
}
.titrepost{
  text-align:center;
  font-size:23px;
  margin:0;
}
.auteur{
  display:flex;
  align-items: center;
}
.poster{
  display:flex;
  align-items: center;
  justify-content: center;
}
.auteur p{
  padding-left:10px;
  margin:0;
}
.formposter input{
  width:100%;
  margin-bottom:5px;
}
.formposter textarea{
  width:100%;
  resize:none;
  height:150px;
}
.postmur input[type="submit"]{
  border:0;
  background-color: transparent;
  color:white;
  cursor:pointer;
  padding-top:5px;
}





/* Footer */
footer{
  height:50px;
  background-color:#21283f;
  position:relative;
  bottom:0;
  width:100%;
  text-align:center;
  color:white;
}
